/*banner*/
.banner{
	width: 100%;
	height: 400px;
	position: relative;
}
.banner .img-list{
	width: 100%;
	height: 400px;
	float: left;
}
.banner .img-list ul li{
	position: absolute;
	display: none;
}
.banner .img-list ul li.first{
	
	display: block;
}
.banner .img-list ul li a img{
	width: 100%;
	height: 400px;
}
.banner .btns a{
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	border-radius: 50%;
	text-align: center;
	background: rgba(0,0,0,0.4);
	font-size: 26px;
	color: #fff;
}
.banner .btns a.prev{
	left: 10%;
}
.banner .btns a.next{
	right: 10%;
}
.banner .circles{
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -75px;
}
.banner .circles ul li{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	background: rgba(0,0,0,.3);
	color: #fff;
	text-align: center;
	margin: 0 5px;
	cursor: pointer;
}
.banner .circles ul li.cur{
	background: #e31436;
}


/*content*/
.content .main{

}
.content .main .main-img{
	width: 1000px;
	margin: 0 auto;
}